<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="vtiger.productTest.CreateNewProductWithAVendorTest"/>
      <class name="Weekend.practice.BrowserStackRun"/>
      <class name="vtiger.ogranizationTests.CreateMultiOrgWithIndustry"/>
      <class name="vtiger.practice.DataProviderPractice"/>
      <class name="vtiger.practice.TestNGPracticeTest"/>
      <class name="vtiger.ogranizationTests.CreateOrgnizationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
